[Desktop Entry]
Version=0.2
Name=CMCompiler
Name[en_US]=CMCompiler
GenericName=CMCompiler
Comment=Build cyanogenmod
Exec=/usr/bin/cmc
Terminal=false
Icon=/usr/share/cmc/images/cmc-icon.png
Type=Application
Categories=GTK;Development;

X-Ayatana-Desktop-Shortcuts=Compile;Sync;Setup
[Compile Shortcut Group]
Name=Compile
Exec=nautilus
TargetEnvironment=Unity

[Sync Shortcut Group]
Name=Sync
Exec=nautilus
TargetEnvironment=Unity

[Setup Shortcut Group]
Name=Setup
Exec=nautilus
TargetEnvironment=Unity
